# Windows
Thumbs.db
desktop.ini

# OS X
.DS_Store
.Spotlight-V100
.Trashes
._*

# Nextflow
.nextflow*
work/
results/
testing/
testing*
*.pyc
*.so

# Files
*.pt
*.jpeg
*.jpg
*.tiff
*.mov
*.yaml

# Slurm
slurm*
std_*
sbatch.sh
buildimg.sh

# Slurm
slurm*
std_*
sbatch.sh
buildimg.sh

