//parameters, Modify accordingly. 
params {
   inputdir = "data/images"
   weights = "${baseDir}/data/model/TelluWeights.pt"
   outputdir = "results"
}

    



//Processes
docker.enabled = true

process {
   withName: RunTellu {
      container='ultralytics/yolov5:v6.0'      
   } 
   
   
   withName: TidyData{
      container='evdomene/pandas'
   }

   
}

 


