//parameters
params.imgtar="data/images/*.tar"
params.weights="yolov5s.pt"

//Processes
process {

   withName: train {
      cpus=1
      memory=8.GB
      time='30min'
      container='docker://ultralytics/yolov5:v6.0'
   }


   
   
    
}

//Profiles for local and slurm options. Add Collab?

profiles {

 docker {
    docker.enabled = true 
    pullTimeout = "200 min"

  }
  
  slurm {
    singularity.enabled = true 
    singularity.autoMounts = true
    pullTimeout = "200 min"
    process.executor = "slurm"
    process.queue = "small"
    process.queueSize = 10
    process.submitRateLimit = '10/2min'
    process.clusterOptions = '--account=project_2002552'
	}  
}
